form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  height: 88%;
  justify-content: center;
  width: 50%;
}
mat-form-field{
  width: 400px;
  margin-bottom: 20px;
}

.btn-container{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.approve {
  border: solid 1px #673ab7;
}

.reject {
  border: solid 1px #f44336;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}